#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.forYou {
  line-height: 20px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  position: relative;
  left: -170px;
  padding: 5%;
  padding-bottom: 5%;
  position: relative;
  top: 15px;
}

.following {
  color:white;
  font-size: 20px;
  position: relative;
  left: 70px;
  bottom: 85px;
}

h2 {
  border: 10px;
}