#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.forYou {
  line-height: 20px;
  font-size: 20px;
  color: white;
  position: absolute;
  left: 170px;
  top: 70px;
  padding: 2%;
  padding-bottom: 2%;
  
}

.following {
  color:white;
  font-size: 20px;
  position:absolute;
  right: 400px;
  top: 68px;
  padding: 2%;
  padding-bottom: 2%;
}

h2 {
  border:solid 1px white;
  ;
}

header {
  text-align: left;
  padding: 20px;
  border-bottom: 5%;
  position: absolute;
  left: 150px;
  top: -40px
}

.catStare {
  width: 450px;
  height: 280px;
  position: absolute;
  bottom: 350px;
  left: 300px;
}

.post {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  min-height: 100vh;
}

p {
  font-size: large;
}

.responses {
  display: flex;
  position: absolute;
  bottom: 300px;
  right: 390px;
}
.text {
  position: absolute;
  top: 200px;
  left: 450px;
}

h3 {
  position: absolute;
  top: 650px;
  left: 300px;
}
.user1 {
  position: absolute;
  top: 700px;
  left: 350px;
}